<div class="modal fade" id="add-product-modal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Ajouter un produit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-product-form">
                    <div class="mb-3">
                        <label for="add-product-name" class="form-label">Nom du produit</label>
                        <input type="text" id="add-product-name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-product-category" class="form-label">Catégorie</label>
                        <select id="add-product-category" class="form-select" required>
                            <option value="">Aucune</option>
                            <option value="Groupe electrogene">Groupe electrogene</option>
                            <option value="Moto pompe">Moto pompe</option>
                            <option value="Pompe forage">Pompe forage</option>
                            <option value="Supresseur">Supresseur</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="add-product-price" class="form-label">Prix</label>
                        <input type="number" id="add-product-price" class="form-control" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-product-quantity" class="form-label">Quantité</label>
                        <input type="number" id="add-product-quantity" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="add-save-btn">Enregistrer</button>
            </div>
        </div>
    </div>
</div>